table {
    width: 100%;
    table-layout:fixed;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  mat-form-field {
    width: 100%;
  }
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }