<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
 {{data.message}}
</mat-dialog-content>
<mat-dialog-actions>
  <div class="button-container">
  @if(data.showBothButtons) {
    <button mat-button mat-dialog-close (click)="handleButtonClick('cancel')">Cancel</button>
    <button mat-button mat-dialog-close (click)="handleButtonClick('confirm')" cdkFocusInitial>Confirm</button>
  }@else {
    <button mat-button mat-dialog-close (click)="handleButtonClick('confirm')" cdkFocusInitial>OK</button>
  }
  </div>
</mat-dialog-actions>
