img{
  cursor: pointer;
  width: 92%;
}
.employeeListContainer {
  display: flex; 
  height: 92%; width: 92%; 
  background-color: papayawhip;
}
mat-grid-list{
  width: 100%; 
  height: 100%; 
  padding: 2%;
}

